.btn {
    width: 135px;
    margin: 8px;
}

.card {
    height: 570px;
}

.sign-in-section {
    width: 385px;
    height: 440px;
}

#comment-holder {
    height: 74px;
}

.form-header {
    border-radius: 4px;
}

.buttons {
    position: absolute;
    bottom: 0;
    margin-bottom: 25px;
    width: 345px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}