ul {
  width: 580px;
  height: 250px;
  margin: 20px 10px 0 10px;
  background-color: white;
  border: 1px solid black;
  box-sizing: border-box;
  overflow: auto;
}

textarea {
  width: 580px;
  height: 75px;
  margin: 20px 10px 0 10px;
  box-sizing: border-box;
}