li {
  list-style-type: none;
}


p {
  color: darkblue;
  margin: 0 0 20px 0;
}

.online {
  color: green;
}

.offline {
  color: red;
}

.message-date {
  color: grey;
}

.my-message {
  font-weight: bold;
}