<div class="full-bg-img mask rgba-white-light">
  <div class="container flex-center">
    <div class="row pt-5 mt-3 w-100">
      <div class="col-md-12 mb-3">
        <div class="intro-info-content text-center">

          <h2 class="h1 display-3 mb-5 wow fadeInDown" data-wow-delay="0.3s">PRETTY CHAT</h2>
          <h5 class="font-up mb-5 mt-1 font-bold wow fadeInDown" data-wow-delay="0.3s">Really pretty</h5>

          <a
            routerLink="sign-up"
            class="btn btn-indigo btn-lg wow fadeInDown waves-light"
            data-wow-delay="0.3s"
            mdbWavesEffect
              >sign up
          </a>

          <a
            routerLink="sign-in"
            class="btn btn-indigo btn-lg wow fadeInDown waves-light"
            data-wow-delay="0.3s"
            mdbWavesEffect
              >sign in
          </a>
          
        </div>
      </div>
    </div>
  </div>
</div>