
            <section class="sign-up-section card">

                <div class="card-body">
                    <!--Header-->
                    <div class="form-header blue accent-1 text-center">
                        <h3> - Sign Up - </h3>
                    </div>

                    <div id="comment-holder" [class]="commentStatus">
                        {{ signUpComment }}
                    </div>

                    <!--Body-->
                    <div class="md-form">
                        <i class="fa fa-user prefix grey-text"></i>
                        <input
                            mdbInputDirective
                            type="text"
                            id="form3"
                            class="form-control"
                            (keydown)="checkKey($event.keyCode, signUpButton)"
                            #loginFielf
                        >
                        <label for="form3">Login</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-key prefix grey-text"></i>
                        <input
                            mdbInputDirective
                            type="password"
                            id="form2"
                            class="form-control"
                            (keydown)="checkKey($event.keyCode, signUpButton)"
                            #passwordField
                        >
                        <label for="form2">Password</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-unlock-alt prefix grey-text"></i>
                        <input
                            mdbInputDirective
                            type="password"
                            id="form34"
                            class="form-control"
                            (keydown)="checkKey($event.keyCode, signUpButton)"
                            #confirmPasswordField
                        >
                        <label for="form34">Confirm password</label>
                    </div>

                    <div class="md-form">
                        <input #checkbox type="checkbox" checked> <span>remember me</span>
                    </div>

                    <div class="text-center button-group">
                        <button routerLink="" class="btn btn-indigo waves-light" mdbWavesEffect>Exit</button>
                        <button
                            #signUpButton
                            (click)="checkForm(loginFielf.value, passwordField.value, confirmPasswordField.value, checkbox)"
                            class="btn btn-indigo waves-light"
                            mdbWavesEffect
                                >Sign Up
                        </button>
                    </div>

                </div>

            </section>