
        <div class="intro-info-content text-center">

          <h2 class="h1 display-3 mb-5 wow fadeInDown" data-wow-delay="0.3s">PRETTY CHAT</h2>
          <h5 class="font-up mb-5 mt-1 font-bold wow fadeInDown" data-wow-delay="0.3s">Really pretty</h5>

          <a
            routerLink="sign-up"
            class="btn btn-indigo btn-lg wow fadeInDown waves-light"
            data-wow-delay="0.3s"
              >sign up
          </a>

          <a
            routerLink="sign-in"
            class="btn btn-indigo btn-lg wow fadeInDown waves-light"
            data-wow-delay="0.3s"
              >sign in
          </a>
          
        </div>