
            <section class="sign-in-section card">

                <div class="card-body">
                    <!--Header-->
                    <div class="form-header blue accent-1 text-center">
                        <h3> - Sign In - </h3>
                    </div>

                    <div id="comment-holder" [class]="commentStatus">
                        {{ signInComment }}
                    </div>

                    <!--Body-->
                    <div class="md-form">
                        <i class="fa fa-user prefix grey-text"></i>
                        <input
                            mdbInputDirective
                            #loginFielf
                            (keydown)="checkKey($event.keyCode, signInButton)"
                            type="text"
                            class="form-control"
                            id="form3"
                        >
                        <label for="form3">Login</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-unlock-alt prefix grey-text"></i>
                        <input
                            mdbInputDirective
                            #passwordField
                            (keydown)="checkKey($event.keyCode, signInButton)"
                            type="password"
                            class="form-control"
                            id="form2"
                        >
                        <label for="form2">Password</label>
                    </div>

                    <div class="md-form">
                        <input #checkbox type="checkbox" checked> <span>remember me</span>
                    </div>

                    <div class="text-center buttons">
                        <button routerLink="" class="btn btn-indigo waves-light" mdbWavesEffect>Exit</button>
                        <button
                            #signInButton
                            (click)="checkForm(loginFielf.value, passwordField.value, checkbox)"class="btn btn-indigo waves-light"
                            mdbWavesEffect
                                >Sign In
                        </button>
                    </div>

                </div>

            </section>